@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--acaps-blue: #0096ba;
	--acaps-orange: #f68630;
	--acaps-orange-saturated: #F86C30;
	--acaps-grey: #b1b2b4;
	--acaps-dark-grey: #3b3838;
	--acaps-light-grey: #F9F9F9;
	--acaps-access-blue: #3E78B3;
	--acaps-access-red: #A3405D;
	--acaps-access-green: #4A9351;
	--acaps-access-extreme-red: #991824;
	--acaps-access-low-yellow: #FFD76D;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Bebas Neue", cursive;
	font-family: "Roboto", sans-serif;
}

header,
section,
nav,
footer,
figure,
caption {
	display: flex;
	justify-content: center;
	background-position: center;
	margin: 0;
	padding: 0;
}

.col-wide {
	width: 100%;
	max-width: 980px;
	margin: 0 24px;
}

.col-medium {
	width: 100%;
	max-width: 680px;
	margin: 0 24px;
}

.col-center-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-center-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

[slot="foreground"] section {
	padding: 50vh 0 50vh 0;
	font-size: 1.1em;
}

[slot="foreground"] section div {
	padding: 12px;
	position: relative;
}

[slot="foreground"] section div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: -1;
	border-radius: 5px;
	border: var(--acaps-dark-grey) solid 1px;
}

.content-container {
	margin: 1em 0;
}

.chart-container {
	height: auto;
	width: 100%;
}

.map-container {
	font-size: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-top: var(--acaps-dark-grey) solid 1px;
}

.map-legend {
	margin: 0 2em 0 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: 5vh;
	background-color: white;
}

.legend-item {
	flex: 1 1 0px;
	display: flex;
	align-items: center;
	font-size: .7em;
}

.legend-item>* {
	flex: 1 1 1;
}

.dot {
	height: 1.5em;
	width: 1.5em;
	background-color: #bbb;
	transition: background-color 1s ease-in-out;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1em;
}

nav {
	height: 2.5em;
	padding-top: .5em;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.landing-foreground {
	z-index: 1;
}

.background-pointer {
	z-index: -1;
	width: 540px;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	filter: opacity(20%);
	-webkit-filter: opacity(20%);
	-moz-filter: opacity(20%);
}


footer {
	background-color: var(--acaps-light-grey);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

.footer-container h3 {
	font-family: "Bebas neue";
	font-size: 2em;
	margin-bottom: 0;
}

.footer-container p {
	font-size: 1em;
	margin: .5em 0;
}

img {
	height: 2em;
	width: auto;
	max-height: fit-content;
	object-fit: contain;
}

.landing-container {
	height: auto;
	width: 100%;
	background-color: var(--acaps-orange-saturated);
	padding: 1em 0;
}

.landing-container p {
	font-size: x-large;
}

.buttons-container {
	display: flex;
	justify-content: center;
	width: auto;
}

.button {
	background-color: var(--acaps-light-grey);
	border: 1px solid var(--acaps-light-grey);
	color: black;
	padding: .8em;
	margin: 1em;
	text-align: center;
	display: inline-block;
	flex: 1 1 auto;
	text-decoration: none;
	border-radius: 10px;
	font-weight: 500;
}

.button:hover {
	background-color: var(--acaps-orange-saturated);
	color: var(--acaps-light-grey);
}

.button-orange {
	background-color: var(--acaps-orange-saturated);
	border: 1px solid var(--acaps-orange-saturated);
	color: var(--acaps-light-grey);
	padding: .8em;
	margin: 1em;
	text-decoration: none;
	border-radius: 10px;
}

.button-orange:hover {
	background-color: var(--acaps-light-grey);
	color: var(--acaps-orange-saturated);
}

h1 {
	font-family: "Bebas Neue";
	font-size: 6em;
	color: white;
	line-height: 110%;
	margin: 0;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.3em;
}

li {
	font-size: 1.3em;
}

.table-container {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

td {
	padding: .1em 1em;
}

.foreground-container p {
	font-size: 1.2em;
	margin: .5em;
}

.foreground-container h3 {
	margin: .5em .2em;
	font-size: 1.3em;
}

.foreground-container ul {
	padding: 0;
	text-align: center;
}

.foreground-container li {
	font-size: 1.2em;
	list-style-type: none;
	margin: 5px;
}

span.red {
	color: white;
	background-color: var(--acaps-access-red);
}

span.green {
	color: white;
	background-color: var(--acaps-access-green);
}

span.blue {
	color: white;
	background-color: var(--acaps-access-blue);
}

span.yellow-low {
	color: black;
	background-color: var(--acaps-access-low-yellow);
}

span.red-extreme {
	color: white;
	background-color: var(--acaps-access-extreme-red);
}

select {
	padding: 0.2em;
	margin: 0 0 .3em 0;
}

optgroup {
	font-size: 1em;
}

@media (max-width:480px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.1em;
	}

	li {
		font-size: 1.1em;
	}

	.foreground-container p {
		font-size: 1.1em;
	}

	.button {
		font-size: .7rem;
		margin: 1em 1em;
	}

	.content-container {
		margin: 0 1em;
	}

	.footer-container p {
		font-size: .8em;
		margin: .2em 0;
	}

	.contact-container {
		padding-right: 3em;
	}

	.map-legend {
		height: auto;
		flex-wrap: wrap;
	}

	.map-legend p {
		font-size: 1em;
	}

	.dot {
		width: 1em;
		height: 1em;
	}

	.constraint-name {
		display: none;
	}

	.background-pointer {
		width: 360px;
		height: auto;
	}
}