@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--acaps-blue: #0096ba;
	--acaps-orange: #f68630;
	--acaps-orange-saturated: #F86C30;
	--acaps-grey: #b1b2b4;
	--acaps-dark-grey: #3b3838;
	--acaps-light-grey: #F9F9F9;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Bebas Neue", cursive;
	font-family: "Roboto", sans-serif;
}

header,
section,
nav,
footer,
figure,
caption {
	display: flex;
	justify-content: center;
	background-position: center;
	margin: 0;
	padding: 0;
}

.col-wide {
	width: 100%;
	max-width: 980px;
	margin: 0 24px;
}

.col-medium {
	width: 100%;
	max-width: 680px;
	margin: 0 24px;
}

.col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-center {
	text-align: center;
}

[slot="foreground"] section {
	padding: 100vh 0 100vh 0;
	font-size: larger;
}

[slot="foreground"] section div {
	padding: 12px;
	position: relative;
}

[slot="foreground"] section div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: -1;
	border-radius: 5px;
}

.content-container {
	margin: 1em 0;
}

.chart-container {
	height: auto;
	width: 100%;
}

.map-container {
	font-size: 0;
	width: 100%;
	height: 100vh;
}

.map-legend {
	margin: 0 2em 0 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height: 5vh;
	background-color: white;
}

.legend-item {
	flex: 1 1 0px;
	display: flex;
	align-items: center;
	font-size: small;
}

.legend-item>* {
	flex: 1 1 1;
}

.dot {
	height: 1.5em;
	width: 1.5em;
	background-color: #bbb;
	transition: background-color 1s ease-in-out;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1em;
}

nav {
	height: 2.5em;
	padding-top: .5em;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

footer {
	background-color: var(--acaps-light-grey);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

.footer-container h3 {
	font-family: "Bebas neue";
	font-size: 2em;
	margin-bottom: 0;
}

.footer-container p {
	font-size: 1em;
	margin: .5em 0;
}

img {
	height: 2em;
	width: auto;
	max-height: fit-content;
	object-fit: contain;
}

.landing-container {
	height: auto;
	width: 100%;
	background-color: var(--acaps-orange-saturated);
	padding: 1em 0;
}

.landing-container p {
	font-size: x-large;
}

.buttons-container {
	display: flex;
	justify-content: center;
	width: auto;
}

.button {
	background-color: var(--acaps-light-grey);
	border: none;
	color: black;
	padding: .8em;
	margin: 1em;
	text-align: center;
	display: inline-block;
	flex: 1 1 auto;
	text-decoration: none;
	border-radius: 10px;
	font-weight: bold;
}

h1 {
	font-family: "Bebas Neue";
	font-size: 8em;
	color: white;
	line-height: 110%;
	margin: 0;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.3em;
}

.foreground-container p {
	font-size: 1.2em;
}

@media (max-width:480px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	.button {
		font-size: .7rem;
	}

	.content-container {
		margin: 0 1em;
	}
}