@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--acaps-blue: #0096ba;
	--acaps-orange: #f68630;
	--acaps-orange-saturated: #F86C30;
	--acaps-grey: #b1b2b4;
	--acaps-dark-grey: #3b3838;
	--acaps-light-grey: #F9F9F9;
	--acaps-access-blue: #3E78B3;
	--acaps-access-red: #A3405D;
	--acaps-access-green: #4A9351;
	--acaps-access-extreme: #991824;
	--acaps-access-veryhigh: #E72E22;
	--acaps-access-high: #F96C30;
	--acaps-access-moderate: #FFA74A;
	--acaps-access-low: #FFD76D;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Bebas Neue", cursive;
	font-family: "Roboto", sans-serif;
}

header,
section,
nav,
footer,
figure,
caption {
	display: flex;
	justify-content: center;
	background-position: center;
	margin: 0;
	padding: 0;
}

.col-wide {
	width: 100%;
	max-width: 980px;
	margin: 0 24px;
}

.col-medium {
	width: 100%;
	max-width: 680px;
	margin: 0 24px;
}

.col-center-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-center-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

[slot="foreground"] section {
	padding: 35vh 0 35vh 0;
	font-size: 1.1em;
}

[slot="foreground"] section div {
	padding: 12px;
	position: relative;
}

[slot="foreground"] section div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	height: 100%;
	opacity: .95;
	z-index: -1;
	border-radius: 5px;
	border: var(--acaps-grey) solid 1px;
}

.splitscreen svelte-scroller-background {
	width: calc(100% - 480px) !important;
	min-width: 65%;
	margin: 0 0 0 auto;
}

.splitscreen [slot="foreground"] section {
	width: 480px;
	max-width: 35%;
	margin: 0 auto 0 0;
	background-color: #fff;
}

.content-container {
	margin: 1em 0;
}

hr.solid {
	border: none;
	border-top: 3px solid var(--acaps-grey);
	border-radius: 5px;
	width: 60%;
	margin-bottom: 1em;
  }

.chart-container {
	height: auto;
	width: 100%;
	margin: 0;
	max-height: 90vh;
}

.map-container {
	font-size: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	max-height: 90vh;
}

/* .map-container svg {
	max-width: 1408px;
	max-height: 792px;
} */

.map-legend {
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: white;
	max-width: 1408px;
	max-height: 792px;
}

.legend-title {
	margin: .2em;
}

.legend-title p {
	font-weight: 400;
	margin-top: .5em;
	margin-bottom: 0;
	font-size: 1.2;
}

.legend-subtitle {
	margin: .2em 1em;
}

.legend-subtitle p {
	font-size: .9em;
}

.legend-items-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: .7em 0em;
}

.legend-item {
	flex: 1 0 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .6em;
	min-width: 96px
}

.legend-item>* {
	flex: 1 1 1;
	margin: 0;
}

.source-item {
	font-size: .8em;
	margin: .2em 1em;
	color: var(--acaps-dark-grey);
}

.dot {
	height: 1.5em;
	width: 1.5em;
	background-color: #bbb;
	transition: background-color 1s ease-in-out;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1em;
	box-sizing: border-box;
}

.vl {
	border-left: 2px solid;
}

.constraint-level {
	margin: .1em;
}

.constraint-name {
	margin: .2em;
}

nav {
	height: 2.5em;
	padding-top: .5em;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.landing-foreground {
	z-index: 1;
}

.background-pointer {
	z-index: -1;
	width: 540px !important;
	height: auto !important;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto !important;
	margin-right: auto !important;
	filter: opacity(20%);
	-webkit-filter: opacity(20%);
	-moz-filter: opacity(20%);
}


footer {
	margin-top: 2em;
	background-color: var(--acaps-light-grey);
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

.footer-container h3 {
	font-family: "Bebas neue";
	font-size: 2em;
	margin-bottom: 0;
}

.footer-container p {
	font-size: 1em;
	margin: .5em 0;
}

.header-container img, .landing-container img, .footer-container img{
	height: 2em;
	width: auto;
	max-height: fit-content;
	object-fit: contain;
	margin: 0;
}

img {
	height: auto;
	width: 100%;
	margin: 1em 0;
}

.landing-container {
	height: auto;
	width: 100%;
	background-color: var(--acaps-orange-saturated);
	padding: 1em 0;
}

.landing-container p {
	font-size: x-large;
}

.scroller-container {
	position: relative;
	overflow: hidden;
}

.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.map-buttons-container {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	z-index: 4;
	width: auto;
	height: auto;
	pointer-events: initial;
	user-select: all;
}

#progress-bar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 100%;
	height: .5em;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	color: var(--acaps-blue);
	background-color: white;
}

progress::-webkit-progress-value {background-color: var(--acaps-blue) !important;}
progress::-moz-progress-bar {background-color:  var(--acaps-blue) !important;}
progress[value] {-webkit-appearance: none;}
progress[value]::-webkit-progress-value {background-color: var(--acaps-blue);}

.button {
	background-color: var(--acaps-light-grey);
	border: 1px solid var(--acaps-light-grey);
	color: black;
	padding: .8em;
	margin: 1em;
	text-align: center;
	display: inline-block;
	flex: 1 1 auto;
	text-decoration: none;
	border-radius: 10px;
	font-weight: 500;
}

.button:hover {
	background-color: var(--acaps-orange-saturated);
	color: var(--acaps-light-grey);
}

.button-orange {
	background-color: var(--acaps-orange-saturated);
	border: 1px solid var(--acaps-orange-saturated);
	color: var(--acaps-light-grey);
	padding: .8em;
	margin: 1em;
	text-decoration: none;
	border-radius: 10px;
}

.button-orange:hover {
	background-color: var(--acaps-light-grey);
	color: var(--acaps-orange-saturated);
}

h1 {
	font-family: "Bebas Neue";
	font-size: 6em;
	color: white;
	line-height: 110%;
	margin: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
	font-weight: 300;
}

li {
	font-weight: 300;
	font-size: 1.3em;
	margin: .3em 0;
}

table {
	text-align: left;
	width: 100%;
	height: auto;
}

td, th {
	padding: .1em 1em;
}

.foreground-container p {
	font-size: 1.2em;
	margin: .5em 0em;
}

.foreground-container h3 {
	margin: .5em 0em;
	font-size: 1.3em;
}

.foreground-container ul {
	padding: 0;
}

.foreground-container li {
	font-size: 1.2em;
	list-style-type: "- ";
	margin: 5px;
}

span {
	padding: 0 .3em;
}

span.orange {
	color: white;
	background-color: var(--acaps-orange-saturated);
}

span.red {
	color: white;
	background-color: var(--acaps-access-red);
}

span.green {
	color: white;
	background-color: var(--acaps-access-green);
}

span.blue {
	color: white;
	background-color: var(--acaps-access-blue);
}

span.yellow-low {
	color: black;
	background-color: var(--acaps-access-low);
}

span.yellow-moderate {
	color: black;
	background-color: var(--acaps-access-moderate);
}

span.yellow-high {
	color: white;
	background-color: var(--acaps-access-high);
}

span.yellow-veryhigh {
	color: white;
	background-color: var(--acaps-access-veryhigh);
}

span.red-extreme {
	color: white;
	background-color: var(--acaps-access-extreme);
}

select {
	padding: 0.2em;
	margin: 0 0 .3em 0;
}

optgroup {
	font-size: 1em;
}

.bounce {
	animation: bounce 2s ease infinite;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-15px);
	}

	60% {
		transform: translateY(-15px);
	}
}

@media (max-width:480px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	p {
		font-size: 1.1em;
	}

	li {
		font-size: 1.1em;
	}

	.foreground-container p {
		font-size: 1.1em;
	}

	.button {
		font-size: .7rem;
		margin: 1em 1em;
	}

	.content-container {
		margin: 0 1em;
	}

	.footer-container p {
		font-size: .8em;
		margin: .2em 0;
	}

	.contact-container {
		padding-right: 3em;
	}

	.map-legend {
		height: auto;
		flex-wrap: wrap;
	}

	.map-legend p {
		font-size: 1em;
	}

	.dot {
		width: 1em;
		height: 1em;
		border-radius: 50%;
	}

	.constraint-name {
		display: none;
	}

	.background-pointer {
		width: 360px !important;
		height: auto !important;
	}
}